.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--primary);
    color: var(--surface);
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.editIcon {
    margin-right: 0.75rem;
}

.icons {
    color: var(--on-primary);
}

.completed {
    color: var(--completed-color);
    text-decoration: line-through;
}

/* Mobile */
@media (max-width: 480px) {
    .todo {
        padding: 0.5rem 1rem;
    }
}

/* Extra Small Devices */
@media (min-width: 481px) and (max-width: 767px) {
    .todo {
        padding: 0.6rem 1rem;
    }
}

/* Small Tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .todo {
        padding: 0.6rem 1rem;
        font-size: 1.15rem;
    }
}

/* Large Tablets/Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .todo {
        padding: 0.7rem 1rem;
        font-size: 1.35rem;
    }
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1918px) {
    .todo {
        padding: 0.75rem 1rem;
        font-size: 1.45rem;
    }
}

/* Extra Large Screens */
@media (min-width: 1919px) {
    .todo {
        padding: 0.8rem 1rem;
        font-size: 1.65rem;
    }
}