.editForm {
    width: 100%;
}

.edit-input {
    outline: none;
    border: 1px solid var(--theme-color);
    background: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 13px;
    width: 75%;
    color: #000000;
}

.edit-input::placeholder {
    color: #000000;
    font-size: 13px;
}

.edit-btn {
    background: var(--theme-color);
    color: var(--text-color);
    width: 25%;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid transparent;
    padding: 0.5rem;
    cursor: pointer;
}