.editForm {
    width: 100%;
}

.edit-title {
    color: var(--on-surface);
    font-weight: 500;
    font-size: 2rem;
}

.edit-input {
    outline: none;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--primary);
    background: none;
    padding: 0.6rem;
    margin-top: 1.5rem;
    font-size: 1rem;
    width: 100%;
    color: var(--on-surface);
}

.edit-input::placeholder {
    color: var(--on-surface);
    font-size: 1rem;
}

.edit-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .cancel-btn {
    background: var(--error);
    color: var(--on-error);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.6rem;
    cursor: pointer;
  }
  
  .cancel-btn:hover {
    filter: brightness(90%);
  }

.edit-btn {
    background: var(--primary);
    color: var(--on-primary);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.6rem;
    cursor: pointer;
}

.edit-btn:hover {
    filter: brightness(90%);
}

/* Mobile */
@media (max-width: 480px) {
    .edit-title {
        font-size: 1.5rem;
    }

    .edit-input {
        font-size: 0.8rem;
    }

    .edit-input::placeholder {
        font-size: 0.8rem;
    }

    .cancel-btn {
        font-size: 0.8rem;
      }

    .edit-btn {
        font-size: 0.8rem;
    }
}

/* Extra Small Devices */
@media (min-width: 481px) and (max-width: 767px) {
    .edit-title {
        font-size: 1.8rem;
    }

    .edit-input {
        font-size: 0.9rem;
    }

    .edit-input::placeholder {
        font-size: 0.9rem;
    }

    .cancel-btn {
        font-size: 0.9rem;
      }

    .edit-btn {
        font-size: 0.9rem;
    }
}

/* Small Tablets */
@media (min-width: 767px) and (max-width: 991px) {
    .edit-title {
        font-size: 1.9rem;
    }

    .edit-input {
        font-size: 0.95rem;
    }

    .edit-input::placeholder {
        font-size: 0.95rem;
    }

    .cancel-btn {
        font-size: 0.95rem;
      }

    .edit-btn {
        font-size: 0.95rem;
    }
}

/* Large Tablets/Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .edit-title {
        font-size: 1.95rem;
    }
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1918px) {
    .edit-title {
        font-size: 1.95rem;
    }
}

/* Extra Large Screens */
@media (min-width: 1919px) {

}