@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1F51FF;
  --background-color: #fff;
  --mode-button-color: #242526;
  --input-color: #fcfbfb;
  --text-color: #242526;
  --mode-button-text-color: #fcfbfb;
  --completed-color: gray;
  --shadow-color: #00000059;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background-color);
}

body.dark {
  --primary-color: #18191a;
  --background-color: #242526;
  --mode-button-color: #fff;
  --input-color: #fcfbfb;
  --text-color: #242526;
  --mode-button-text-color: #242526;
  --completed-color: gray;
  --shadow-color: #959da533;
}

h1 {
  color: var(--input-color);
  font-weight: 700;
}

