@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6200EE;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --secondary-variant: #018786;
  --background: #FFFFFF;
  --surface: #FFFFFF;
  --error: #B00020;
  --on-primary: #FFFFFF;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #FFFFFF;
  --completed-color: gray;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background);
}

body.dark {
  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --background: #121212;
  --surface: #222222;
  --error: #CF6679;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #FFFFFF;
  --on-surface: #FFFFFF;
  --on-error: #000000;
  --completed-color: gray;
}

h1 {
  color: var(--on-surface);
  font-weight: 700;
}

